.TitleBio {
    padding-left: 2%;
    font-family: Roboto;
    color: #000000;
    font-size: 16;
    font-weight: bold;
}

.TextBio {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    padding-top: 0%;
    font-family: Roboto;
    color: #000000;
    font-size: 14;
    text-indent: 5%;

}

#MainTitleBio {
    text-align: center;
    font-size: 18;
}
.referenceAbstract{
    list-style-type: none;
}
.textAbstract{
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    padding-top: 0%;
    font-family: Roboto;
    color: #000000;
    font-size: 14;
    text-indent: 5%;
}
.imgCenter{
    text-align: center;

}