body{

    background-color: lightgray;
    margin: 0;
}
#top_panel {
    background-color: #283593;
    position: absolute;
    width: 100%;
    height: 30%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 3;
}
#avatar {
    background-image: url("../image/avatar.png");
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 90%;
    left: 2%;
    background-size: contain;
    top: 1%;

}

#topTextPanel{
    display: inline-block;
    position: relative;
    height: 60%;
    width: 60%;
    top: 5%;
    left: 20%;
    font-family: Roboto;
    font-size: 16px;
    color: white;
    word-wrap: break-word;
}
.topTitleText{
    text-align: left;
    font-family: Roboto,sans-serif;
    color: #ffffff;
}
.topSimpleText{

}
.panelLanguage{

    position: absolute;
    text-align: justify;
    background-position: left;
    right: 5%;
    width: 10%;
    height: 60%;
    top: 5%;
    display: inline-block;
    z-index: 200;
}
.language{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0.5;
    top:1%;
    height: 30%;
    width: 20%;
}
.language:hover{
    opacity: 1;


}
#ru {
    background-image: url("../iconTop/ru_flag.png");
}

#uk {
    background-image: url("../iconTop/uk_flag.png");
}

#en {

    background-image: url("../iconTop/en_flag.png");
}
#mainContent {
    top: 30%;
    left: 15%;
    position: absolute;
    width: 80%;
    height: 100%;
    z-index: 1;
    text-align: match-parent;
    background-color: lightgray;
    font-family: Roboto;
}

#left_panel {
    background-color: #ffffff;
    top: 30%;
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);

}

.blockLeftPanel {
    position: relative;
    display: block;
    word-wrap: break-word;
    width: 100%;
    margin-top: 20px;

}
.blockLeftPanel:hover{
    background-color: lightgray;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.picterlLeftPanel {
    padding-top: 2%;
    position: relative;
    left: 5%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;

}

.textLeftPanel {
    position: relative;
    width: 60%;
    cursor: pointer;
    height: 30px;
    display: inline-block;
    left: 30px;
    color: #1e0f00;

}

.leftText {
    color: #000000;
    font-family: Roboto;

}

#resume {
    background-image: url("../icon_personalPanelLeft/icon_resume.png");
}

#bio {
    background-image: url("../icon_personalPanelLeft/icon_bio.png");
}

#diploma {

    background-image: url("../icon_personalPanelLeft/icon_diploma.png");
}
#library{
    background-image: url("../icon_personalPanelLeft/icon_book.png");

}
#links{
    background-image: url("../icon_personalPanelLeft/icon_links.png");
}
#report{
    background-image: url("../icon_personalPanelLeft/icon_report.png");
}
#privateTitle{
    background-image: url("../icon_personalPanelLeft/icon_star.png");
}






