
#top_panel {
    background-color: #283593;
    position: absolute;
    left: 13%;
    width: 75%;
    height: 40%;
    box-shadow: 1px 15px 25px -15px #000000;
    -webkit-box-shadow: 1px 15px 25px -15px #000000;
    -moz-box-shadow: 1px 15px 25px -15px #000000;;
    z-index: 3;
}
#avatar {
    background-image: url("../image/avatar.png");
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    position: absolute;
    height: 70%;
    width: 30%;
    left: 3%;
    background-size: contain;
    top: 10%;
}

#topTextPanel{
    display: inline-block;
    position: relative;
    height: 60%;
    width: 60%;
    top: 5%;
    left: 25%;
    font-family: Roboto;
    color: white;
    word-wrap: break-word;
}
.topTitleText{
    text-align: left;

}
.topSimpleText{

}
.panelLanguage{

    position: relative;
    text-align: justify;
    background-position: left;
    left: 30%;
    width: 10%;
    height: 60%;
    top: 5%;
    display: inline-block;
}
.language{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0.5;
    top:10%;
    height: 30%;
    width: 60%;
}
.language:hover{
    opacity: 1;


}
#ru {
    background-image: url("../iconTop/ru_flag.png");
}

#uk {
    background-image: url("../iconTop/uk_flag.png");
}

#en {

    background-image: url("../iconTop/en_flag.png");
}
#mainContent {
    top: 40%;
    left: 13%;
    position: absolute;
    width: 75%;
    min-height: 100%;
    z-index: 1;
    text-align: match-parent;
    background-color: #5C6BC0;
    font-family: Roboto;
}

#left_panel {
    background-color: #3f51b5;
    top: 40%;
    left: 13%;
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 2;
    box-shadow: 10px 13px 22px -7px #000000;
    -webkit-box-shadow: 10px 13px 22px -7px #000000;
    -moz-box-shadow: 10px 13px 22px -7px #000000;

}

.blockLeftPanel {
    position: relative;
    width: 90%;
    height: 10%;
    display: block;
    left: 3%;
    word-wrap: break-word;

}
.blockLeftPanel:hover{
    background-color: #5C6BC0;
    cursor: pointer;
    -webkit-box-shadow: 10px 13px 22px -7px #000000;
    -moz-box-shadow: 10px 13px 22px -7px #000000;
}

.picterlLeftPanel {
    position: relative;
    left: 5%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 20%;
    height: 70%;
    margin-top: 5%;
    display: inline-block;
    -webkit-background-size: contain;
    -o-background-size: contain;
    cursor: pointer;

}

.textLeftPanel {
    position: relative;
    width: 60%;
    height: 35%;
    display: inline-block;
    font-size: 12;
    cursor: pointer;
}

.leftText {
    color: white;
    font-family: Roboto;

}

#resume {
    background-image: url("../icon_personalPanelLeft/icon_resume.png");
}

#bio {
    background-image: url("../icon_personalPanelLeft/icon_bio.png");
}

#diploma {

    background-image: url("../icon_personalPanelLeft/icon_diploma.png");
}
#library{
    background-image: url("../icon_personalPanelLeft/icon_book.png");

}
#links{
    background-image: url("../icon_personalPanelLeft/icon_links.png");
}
#report{
    background-image: url("../icon_personalPanelLeft/icon_report.png");
}
#privateTitle{
    background-image: url("../icon_personalPanelLeft/icon_star.png");
}






