.Simpletext{
    font-family: Roboto;
    color:white;
    font-size: 14;
    position: relative;
    text-align: left;
    display: inline-block;
    width: 65%;
}
.SimpleTitle {
    font-family: Roboto;
    color: white;
    text-align: left;
    font-size: 16;
    position: relative;
    display: inline-block;
    width: 30%;
}
#contentText{
    top: 5%;
    bottom: 5%;
    left: 26%;
    right: 5%;
    width: 70%;
    height: auto;
    position: relative;
    padding-top: 3%;
    overflow-y: scroll;
    overflow: hidden;

}
.TitleExp{
    text-decoration: underline;
    color: midnightblue;
}
