.Simpletext{
    font-family: Roboto,sans-serif;
    color: #000000;;
    font-size: 14px;
    position: relative;
    text-align: left;
    display: inline-block;
    width: 80%;
    left: 10px;
}
.SimpleTitle {
    left: 10px;
    font-family: Roboto,sans-serif;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: 20%;
}
#contentText{
    top: 1px;
    bottom: 2px;
    left: 15%;
    width: 80%;
    height: auto;
    position: relative;
    padding-top: 3%;
    overflow-y: scroll;
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);

}
.TitleExp{
    color: #000000;

}
.textAbstract{
    left: 3%;
    font-family: Roboto,sans-serif;
    color: #000000;
    text-align: justify;
    font-size: 16px;
    position: relative;
    display: block;
    width: 90%;

}